@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-shadow {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .section-title {
    position: relative;
    padding-left: 1rem;
  }
  
  .section-title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #3b82f6;
    border-radius: 2px;
  }
  
  .photo-upload {
    border: 2px dashed #d1d5db;
    transition: all 0.3s ease;
  }
  
  .photo-upload:hover {
    border-color: #3b82f6;
    background-color: #f8fafc;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #73a7fc;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Ẩn scrollbar cho mọi trình duyệt */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
} 